#sidebar{
    background-color: #171717;
    max-width: 24rem;
}

.sidebar-inner-container{
    display: flex;
    width: 100%;
    flex-direction: column;
}

.menu-section{
    width: 100%;
    font-size: 1.8rem;
    margin-bottom: 1.5rem;
    display: flex;
    justify-content: space-between;
    color: white;
}

.menu-header{
    width: 100%;
    margin-bottom: 1rem;
}

#menu-todo-projects{
    display: flex;
    flex-direction: column;

}

#menu-todo-projects .menu-header{
    display: flex;
    justify-content: space-between;
}

#add-project-btn{
    color: orange;
}

.menu-section{
    width: 100%;
    color: white;
    font-size: 1.8rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#add-project-btn{

}

#add-project-btn:hover, #new-project-controls button:hover,.project-list-item:hover, i:hover{
    cursor: pointer;
}

.sidebar-list{
    list-style: circle inside;
    font-size: 1.4rem;
}

.sidebar-list li::marker{
    margin-right: 0.2rem;
    color: orange;
}

.sidebar-list li{
    margin-bottom: 0.2rem;
}

#new-project-controls{
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

#project-input{
    width: 100%;
    font-size: 1.1rem;
    font-weight: 200;
    height: 44px;
    border-radius: 0.5rem;
    background-color: rgba(255,255,255,0.03);
    color: var(--input-text-color);
    display: flex;
    border: 1px solid transparent;

}

#project-input:focus{
    background-color: rgb(30,30,30);
}

#new-project-add{

}

#new-project-cancel{

}

.hidden{
    visibility: hidden;
}
