
:root{
    --input-text-color: #f1f5f9;

}

*, ::before, ::after {
    box-sizing: border-box;
    
}

*:not(i){
    font-family: sans-serif;
    color: #f1f5f9;
    margin: 0;
}

body{
    position: relative;
}

.section-container{
    padding: 1.5rem;
}

.no-select{
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

input, button, textarea, select, body {
    font: inherit;
}

ul{
    padding: 0;
    list-style: none;
}

*:focus{
    outline: none;
}

p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
}

.section-header{
    width: 100%;
    margin-bottom: 1rem;
    font-size: 1.8rem;
}

#app-container{
    display: flex;
    height: 100vh;
}

.sortable-ghost{
    visibility: hidden;
}

.highlighted, .sortable-ghost{
    background-color: rgba(255,255,255,0.06);
}



.sortable-drag .todo-item-text{
    border: none;
}

.my-handle:hover{
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

#resize-handle{
    height: 100%;
    cursor: ew-resize;
    width: 5px;
    background-color: rgb(30,30,30);
}

#modal{
    display: none;
    background: transparent;
    z-index: 2;
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    backdrop-filter: blur(10px) !important;
}

#edit-modal{
    width: 500px;
    z-index: 10;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    gap: 1rem;
    border: 1px solid orange;
    background-color: rgb(30,30,30);
    border-radius: 10px;
    padding: 1rem;
}


#edit-modal label{
    display: block;
    margin-bottom: 0.4rem;
    font-size: 1.3rem;
    font-weight: 300;
}

#edit-modal input, #edit-modal select, #edit-modal textarea{
    background-color: rgba(255,255,255,0.03);
    border: 1px solid rgb(255,255,255,0.06);
    width: 100%;
    border-radius: 8px;
    font-size: 1.3rem;
}

#description-input{
    min-height: 200px;
}

.show{
    display: block !important;
}

.button{
    background-color: transparent;
    border: 1px solid darkorange;
    padding: 0.5rem 0.8rem;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1.2rem;
}
