@tailwind base;
@tailwind components;
@tailwind utilities;

:root{
    --input-text-color: #f1f5f9;

}

*, ::before, ::after {
    box-sizing: border-box;
    
}

*{
    margin: 0;
}

input, button, textarea, select {
    font: inherit;
}

ul{
    padding: 0;
    list-style: none;
}

*:focus{
    outline: none;
}

p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
}

#app-container{
    display: flex;
    height: 100vh;
}

.sortable-ghost{
    visibility: hidden;
}

.highlighted, .sortable-ghost{
    background-color: rgba(255,255,255,0.06);
}



.sortable-drag .todo-item-text{
    border: none;
}

.my-handle:hover{
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

#resize-handle{
    height: 100%;
    cursor: ew-resize;
    width: 5px;
    background-color: rgb(30,30,30);
}

